svg {
    border: solid #eee 1px;
    /* svg 边框 */
    margin-top: 0px;
    /* 顶部边距 */
    overflow: visible;
}

#linechartdiv {
    border: solid #eee 1px;
    float: left;
    width: 1000px;
}

#barchartdiv{
    border: solid #eee 1px;
    float: right;
    width: 1000px;
    height: 600px;
}

#sunburstdiv {
    border: solid #eee 1px;
    float: right;
    width: 1000px;
    height: 400px;
}

.lineChartInnerDiv {
    border: solid #000 0px;
}

body {
    font: 10px sans-serif;
    margin: 50px;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.axis path {
    fill: none;
    stroke: #bbb;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #555;
}

.axis line {
    stroke: #e7e7e7;
    shape-rendering: crispEdges;
}

.axis .axis-label {
    font-size: 12px;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

.dot {
    stroke: transparent;
    stroke-width: 10px;
    cursor: pointer;
}

.dot:hover {
    stroke: rgba(68, 127, 255, 0.3);
}

